<div class="m-2 p-2">
  <div class="px-3">
    <h2>Stupid Coaching</h2>
    <p class="text-secondary">Ask your coach anything:</p>
  </div>

  <div class="px-3">
    <form action="/answer" data-turbo="false">
      <input class="w-25" type="text" name="ask">
      <input type="submit" value="Ask">
    </form>
  </div>
</div>
